<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Scheduler Jobs - Status Monitor</title>
    <link rel="icon" type="image/svg+xml" href="/static/logo.svg"/>
    <link rel="stylesheet" href="/static/css/tabler.min.css">
    <link rel="stylesheet" href="/static/css/tabler-icons.min.css">
    <link rel="stylesheet" href="/static/css/admin.css">
</head>
<body>
    <div class="page">
        <header class="navbar navbar-expand-md navbar-light d-print-none">
            <div class="container-xl">
                <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
                    Status Monitor Admin
                </h1>
                <div class="navbar-nav flex-row order-md-last">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link d-flex lh-1 text-reset p-0 dropdown-toggle" data-bs-toggle="dropdown">
                            <span class="avatar avatar-sm">A</span>
                            <div class="d-none d-xl-block ps-2">
                                <div>Admin</div>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="#" class="dropdown-item" onclick="auth.logout(); return false;">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <header class="navbar-expand-md">
            <div class="collapse navbar-collapse" id="navbar-menu">
                <div class="navbar navbar-light">
                    <div class="container-xl">
                        <ul class="navbar-nav">
                                            <li class="nav-item">
                                                <a class="nav-link" href="/admin">
                                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                                        <i class="ti ti-dashboard"></i>
                                                    </span>
                                                    <span class="nav-link-title">Dashboard</span>
                                                </a>
                                            </li>
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                                        <i class="ti ti-server"></i>
                                                    </span>
                                                    <span class="nav-link-title">Monitoring</span>
                                                </a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="/admin/platforms"><i class="ti ti-server me-2"></i>Platforms</a>
                                                    <a class="dropdown-item" href="/admin/components"><i class="ti ti-puzzle me-2"></i>Components</a>
                                                    <a class="dropdown-item" href="/admin/health-checks"><i class="ti ti-heartbeat me-2"></i>Health Checks</a>
                                                </div>
                                            </li>
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                                        <i class="ti ti-alert-circle"></i>
                                                    </span>
                                                    <span class="nav-link-title">Incidents</span>
                                                </a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="/admin/issues"><i class="ti ti-alert-circle me-2"></i>Issues</a>
                                                    <a class="dropdown-item" href="/admin/events"><i class="ti ti-list me-2"></i>Events</a>
                                                </div>
                                            </li>
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                                        <i class="ti ti-bell"></i>
                                                    </span>
                                                    <span class="nav-link-title">Alerts</span>
                                                </a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="/admin/alert-rules"><i class="ti ti-bell me-2"></i>Alert Rules</a>
                                                    <a class="dropdown-item" href="/admin/subscribers"><i class="ti ti-mail me-2"></i>Subscribers</a>
                                                </div>
                                            </li>
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                                        <i class="ti ti-chart-bar"></i>
                                                    </span>
                                                    <span class="nav-link-title">Analytics</span>
                                                </a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="/admin/logs"><i class="ti ti-search me-2"></i>Explore Logs</a>
                                                    <a class="dropdown-item" href="/admin/log-metrics"><i class="ti ti-chart-bar me-2"></i>Log Metrics</a>
                                                    <a class="dropdown-item" href="/admin/process-mining"><i class="ti ti-git-branch me-2"></i>Process Mining</a>
                                                    <a class="dropdown-item" href="/admin/process-timeline"><i class="ti ti-timeline me-2"></i>Timeline Explorer</a>
                                                </div>
                                            </li>
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                                        <i class="ti ti-adjustments"></i>
                                                    </span>
                                                    <span class="nav-link-title">Settings</span>
                                                </a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="/admin/drop-rules"><i class="ti ti-filter-off me-2"></i>Drop Rules</a>
                                                    <a class="dropdown-item" href="/admin/data-retention"><i class="ti ti-clock-off me-2"></i>Data Retention</a>
                                                    <a class="dropdown-item" href="/admin/log-api-keys"><i class="ti ti-key me-2"></i>API Keys</a>
                                                </div>
                                            </li>
                                            <li class="nav-item dropdown active">
                                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                                        <i class="ti ti-calendar-time"></i>
                                                    </span>
                                                    <span class="nav-link-title">Scheduler</span>
                                                </a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item active" href="/admin/scheduler"><i class="ti ti-calendar-time me-2"></i>Jobs</a>
                                                    <a class="dropdown-item" href="/admin/scheduler/datasources"><i class="ti ti-database me-2"></i>Datasources</a>
                                                </div>
                                            </li>
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                                    <span class="nav-link-icon d-md-none d-lg-inline-block"><i class="ti ti-settings"></i></span>
                                                    <span class="nav-link-title">System</span>
                                                </a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="/admin/jvm"><i class="ti ti-cpu me-2"></i>JVM</a>
                                                    <a class="dropdown-item" href="/admin/log-viewer"><i class="ti ti-file-text me-2"></i>Log Viewer</a>
                                                </div>
                                            </li>
                                            <li class="nav-item dropdown" sec:authorize="hasRole('SUPERADMIN')">
                                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                                        <i class="ti ti-building"></i>
                                                    </span>
                                                    <span class="nav-link-title">Admin</span>
                                                </a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="/admin/tenants"><i class="ti ti-building me-2"></i>Tenants</a>
                                                    <a class="dropdown-item" href="/admin/organizations"><i class="ti ti-building-community me-2"></i>Organizations</a>
                                                    <a class="dropdown-item" href="/admin/users"><i class="ti ti-users me-2"></i>Users</a>
                                                </div>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/admin/help">
                                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                                        <i class="ti ti-help"></i>
                                                    </span>
                                                    <span class="nav-link-title">Help</span>
                                                </a>
                                            </li>
                                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class="page-wrapper">
            <div class="page-header">
                <div class="container-xl">
                    <div class="row align-items-center">
                        <div class="col">
                            <h2 class="page-title">Scheduler Jobs</h2>
                            <div class="text-muted mt-1">Manage scheduled jobs: programs, SQL queries, REST and SOAP calls</div>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary" onclick="openCreateModal()">
                                <i class="ti ti-plus"></i> New Job
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-body">
                <div class="container-xl">

                    <!-- Stats Row -->
                    <div class="row row-cards mb-3">
                        <div class="col-sm-6 col-lg-3">
                            <div class="card card-sm">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <span class="bg-blue text-white avatar">
                                                <i class="ti ti-calendar-time"></i>
                                            </span>
                                        </div>
                                        <div class="col">
                                            <div class="font-weight-medium" id="stat-total">-</div>
                                            <div class="text-muted">Total Jobs</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="card card-sm">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <span class="bg-azure text-white avatar">
                                                <i class="ti ti-player-play"></i>
                                            </span>
                                        </div>
                                        <div class="col">
                                            <div class="font-weight-medium" id="stat-running">-</div>
                                            <div class="text-muted">Running Now</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="card card-sm">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <span class="bg-green text-white avatar">
                                                <i class="ti ti-check"></i>
                                            </span>
                                        </div>
                                        <div class="col">
                                            <div class="font-weight-medium" id="stat-succeeded">-</div>
                                            <div class="text-muted">Succeeded Today</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="card card-sm">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <span class="bg-red text-white avatar">
                                                <i class="ti ti-x"></i>
                                            </span>
                                        </div>
                                        <div class="col">
                                            <div class="font-weight-medium" id="stat-failed">-</div>
                                            <div class="text-muted">Failed Today</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Filter Row -->
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row g-2 align-items-end">
                                <div class="col-md-3">
                                    <label class="form-label">Status</label>
                                    <select class="form-select" id="filterStatus" onchange="loadJobs(0)">
                                        <option value="">All</option>
                                        <option value="ACTIVE">Active</option>
                                        <option value="PAUSED">Paused</option>
                                        <option value="DISABLED">Disabled</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label class="form-label">Type</label>
                                    <select class="form-select" id="filterType" onchange="loadJobs(0)">
                                        <option value="">All</option>
                                        <option value="PROGRAM">Program</option>
                                        <option value="SQL">SQL</option>
                                        <option value="REST">REST</option>
                                        <option value="SOAP">SOAP</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">Search</label>
                                    <input type="text" class="form-control" id="searchInput" placeholder="Search jobs..." oninput="debounceSearch()">
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-secondary w-100" onclick="clearFilters()">
                                        <i class="ti ti-x"></i> Clear
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Jobs Table -->
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table table-vcenter table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Cron</th>
                                        <th>Next Run</th>
                                        <th>Last Run</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="jobsTable">
                                    <tr>
                                        <td colspan="7" class="text-center text-muted">Loading...</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer d-flex align-items-center" id="pagination"></div>
                    </div>

                </div>
            </div>

            <!-- Footer -->
            <footer class="footer footer-transparent d-print-none">
                <div class="container-xl">
                    <div class="row text-center align-items-center flex-row-reverse">
                        <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                            <ul class="list-inline list-inline-dots mb-0">
                                <li class="list-inline-item">
                                    Powered by <a href="/" class="link-secondary" th:text="${applicationName}">status</a>
                                </li>
                                <li class="list-inline-item">
                                    &copy; <span th:text="${copyright}">(c) A4IT BV &amp; AUTOMATIZE BV - Developed by Tim De Smedt</span>
                                </li>
                                <li class="list-inline-item">
                                    Build <span th:text="${buildNumber}">0</span> - <span th:text="${buildDate}">unknown</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- Job Create/Edit Modal (wizard) -->
    <div class="modal modal-blur fade" id="jobModal" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="jobModalTitle">New Job</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="jobId">

                    <!-- Wizard Steps Nav -->
                    <div class="steps steps-counter mb-4">
                        <a class="step-item active" id="wizardStep1Nav">Step 1<br><small>Basic Info</small></a>
                        <a class="step-item" id="wizardStep2Nav">Step 2<br><small>Schedule</small></a>
                        <a class="step-item" id="wizardStep3Nav">Step 3<br><small>Configuration</small></a>
                    </div>

                    <!-- Step 1: Basic Info -->
                    <div id="step1">
                        <div class="mb-3">
                            <label class="form-label required">Name</label>
                            <input type="text" class="form-control" id="jobName" placeholder="My Scheduled Job" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Description</label>
                            <textarea class="form-control" id="jobDescription" rows="2" placeholder="What does this job do?"></textarea>
                        </div>
                        <div class="mb-3">
                            <label class="form-label required">Job Type</label>
                            <div class="row g-2">
                                <div class="col-6 col-md-3">
                                    <label class="form-selectgroup-item">
                                        <input type="radio" name="jobType" value="PROGRAM" class="form-selectgroup-input" checked>
                                        <span class="form-selectgroup-label">
                                            <i class="ti ti-terminal me-1"></i> Program
                                        </span>
                                    </label>
                                </div>
                                <div class="col-6 col-md-3">
                                    <label class="form-selectgroup-item">
                                        <input type="radio" name="jobType" value="SQL" class="form-selectgroup-input">
                                        <span class="form-selectgroup-label">
                                            <i class="ti ti-database me-1"></i> SQL
                                        </span>
                                    </label>
                                </div>
                                <div class="col-6 col-md-3">
                                    <label class="form-selectgroup-item">
                                        <input type="radio" name="jobType" value="REST" class="form-selectgroup-input">
                                        <span class="form-selectgroup-label">
                                            <i class="ti ti-api me-1"></i> REST
                                        </span>
                                    </label>
                                </div>
                                <div class="col-6 col-md-3">
                                    <label class="form-selectgroup-item">
                                        <input type="radio" name="jobType" value="SOAP" class="form-selectgroup-input">
                                        <span class="form-selectgroup-label">
                                            <i class="ti ti-file-code me-1"></i> SOAP
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Tags</label>
                            <input type="text" class="form-control" id="jobTags" placeholder="tag1, tag2, tag3">
                            <small class="text-muted">Comma-separated tags for organisation</small>
                        </div>
                    </div>

                    <!-- Step 2: Schedule -->
                    <div id="step2" style="display:none;">
                        <div class="mb-3">
                            <label class="form-label">Cron Presets</label>
                            <div class="d-flex flex-wrap gap-2">
                                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="setCronPreset('0 * * * * *')">Every minute</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="setCronPreset('0 */5 * * * *')">Every 5 min</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="setCronPreset('0 0 * * * *')">Every hour</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="setCronPreset('0 0 9 * * *')">Daily 9am</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="setCronPreset('0 0 9 * * MON-FRI')">Weekdays 9am</button>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label required">Cron Expression</label>
                            <input type="text" class="form-control font-monospace" id="cronExpression" placeholder="0 0 9 * * *" oninput="debounceCronPreview()">
                            <small class="text-muted">Spring 6-field format: <code>sec min hour dom month dow</code></small>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Timezone</label>
                            <select class="form-select" id="cronTimezone">
                                <option value="UTC">UTC</option>
                            </select>
                        </div>
                        <div id="cronPreview" class="alert alert-info" style="display:none;">
                            <strong>Next runs:</strong>
                            <ul class="mb-0 mt-1" id="cronPreviewList"></ul>
                        </div>
                        <div id="cronError" class="alert alert-danger" style="display:none;"></div>
                    </div>

                    <!-- Step 3: Configuration -->
                    <div id="step3" style="display:none;">
                        <div id="step3Content">
                            <!-- Dynamically rendered by JS based on job type -->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-outline-secondary" id="btnBack" onclick="prevStep()" style="display:none;">
                        <i class="ti ti-arrow-left"></i> Back
                    </button>
                    <button type="button" class="btn btn-primary" id="btnNext" onclick="nextStep()">
                        Next <i class="ti ti-arrow-right"></i>
                    </button>
                    <button type="button" class="btn btn-success" id="btnSave" onclick="saveJob()" style="display:none;">
                        <i class="ti ti-check"></i> Save Job
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Run History Modal -->
    <div class="modal modal-blur fade" id="runHistoryModal" tabindex="-1">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Run History: <span id="runHistoryJobName"></span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body p-0">
                    <div class="table-responsive">
                        <table class="table table-vcenter table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Trigger</th>
                                    <th>Status</th>
                                    <th>Started</th>
                                    <th>Duration</th>
                                    <th>Exit Code</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody id="runsTable">
                                <tr><td colspan="7" class="text-center text-muted">Loading...</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer d-flex align-items-center" id="runsPagination">
                </div>
            </div>
        </div>
    </div>

    <!-- Output Viewer Modal -->
    <div class="modal modal-blur fade" id="outputModal" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Run Output</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs mb-3" id="outputTabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#" onclick="showOutputTab('stdout'); return false;">Stdout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" onclick="showOutputTab('stderr'); return false;">Stderr</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" onclick="showOutputTab('response'); return false;">Response</a>
                        </li>
                    </ul>
                    <div id="outputContent">
                        <pre id="outputPre" class="bg-dark text-white p-3 rounded" style="max-height: 400px; overflow-y: auto; font-size: 0.8rem; white-space: pre-wrap; word-break: break-all;"></pre>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="copyOutput()">
                        <i class="ti ti-copy"></i> Copy
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Confirmation Modal -->
    <div class="modal modal-blur" id="deleteModal" tabindex="-1">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-status bg-danger"></div>
                <div class="modal-body text-center py-4">
                    <i class="ti ti-alert-triangle text-danger mb-2" style="font-size: 3rem;"></i>
                    <h3>Are you sure?</h3>
                    <p class="text-muted" id="deleteMessage">Do you really want to delete this job? This action cannot be undone.</p>
                </div>
                <div class="modal-footer">
                    <div class="w-100">
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn w-100" data-bs-dismiss="modal">Cancel</button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-danger w-100" id="confirmDeleteBtn">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/static/js/shared/auth.js"></script>
    <script src="/static/js/shared/api.js"></script>
    <script src="/static/js/shared/notifications.js"></script>
    <script src="/static/js/admin/scheduler/jobs/jobs.js"></script>
</body>
</html>
